.search-input-wraper{  
    width: 100%;
    display: flex;
    position: relative;
    .search-input{
        border: 1px solid grey;
        width: 100%;
        background-color: var(--lite-black);
        padding: 1rem;
        border-radius: 20px;
        outline: none;
        padding-left: 7rem;
        color: white;
        font-size: 2.4rem;
    }
    .search-input::placeholder{
        font-size: 2.4rem;
        color: white;
        text-align: right;
        padding: 1rem 0px;
        padding-top: 4px;
        padding-right: 3rem;
        opacity: 0.5;
        font-weight: 400;
    }
    .search-img{
        max-width: 2.4rem;
        max-height: 2.4rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
    }
}                                                                                