.search-input-wraper{  
    width: 100%;
    display: flex;
    position: relative;
    .search-input{
        width: 100%;
        background-color: var(--lite-black);
        padding: 1rem;
        all: unset;
        padding-left: 7rem;
        color: white;
        font-size: 2.4rem;
    }
    .search-input::placeholder{
        font-size: 2.4rem;
        color: white;
        text-align: right;
        padding: 1rem 0px;
        padding-top: 4px;
        padding-right: 3rem;
        opacity: 0.5;
        font-weight: 400;
        transform: translateX(-4rem);
    }
    .search-img{
        max-width: 2.4rem;
        max-height: 2.4rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
        cursor: pointer;
        transform: translateY(-8px);
    }
}      

@media screen and (max-width: 498px) {
    .search-input-wraper{  
        .search-input{
            padding: 1rem;
            padding-left: 7rem;
            font-size: 1.6rem;
        }
        .search-input::placeholder{
            font-size: 1.6rem;
            padding-right: 1rem;
        }
        .search-img{
            transform: translateY(-4px);
        }
    }                                                             
}